
<%
var posts = _.cms('posts')
if (_.pageName.includes('posts/') || _.pageName.includes('home') ) {
  posts = _.cms('posts').splice(0,2)
}
%>

<% if (Array.isArray(posts) && posts.length) {
  %>
    <div class="blog my-4 my-lg-5">
      <div class="container">
        <div class="row">
          <% posts.forEach(slug => { %>
            <% const { title, thumbnail, description } = _.cms(`posts/${slug}`) %>
            <div class="col-12 col-md-6 col-lg-6">
              <div class="card">
                <% if (thumbnail) { %>
                  <a href="/posts/<%= slug %>">
                    <img
                      src="<%= thumbnail %>"
                      class="card-img-top"
                      alt="<%= title %>"
                    >
                  </a>
                <% } %>
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="/posts/<%= slug %>">
                      <%= title %>
                    </a>
                  </h5>
                  <p class="card-text">
                    <%= description %>
                  </p>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  <%
}
%>
