<%
if (Array.isArray(opt.offers) && opt.offers.length) {
  const search = new _.EcomSearch()
  await search.setProductIds(opt.offers).fetch(true)
  const items = search.getItems().filter(item => _.ecomUtils.inStock(item))
  %>
  <% if (items[0]) { %>
  <section class="offers-timer my-4 my-lg-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-5 offset-md-1">          
          <% 
            const itemData = {}
            const imgObj = _.ecomUtils.img(items[0], null, 'big')
            if (imgObj) {
              itemData.pictures = [{
                _id: _.ecomUtils.randomObjectId(),
                normal: imgObj
              }]
            }
          
          %>
          <% if (imgObj) { %>
            <picture>
              <img
                data-src="<%= imgObj.url %>"
                alt="<%= imgObj.alt %>"
                class="lozad-delay fade"
                style="max-width:100%;"
              >
            </picture>
          <% } %>
          
        </div>
        <div class="col-12 col-md-4 offset-md-1 product-columns">
          <h3 class="text-center">
            <%= items[0].name %>
          </h3>
          <% if (opt.notes) { %>
            <p class="text-center mb-4 pb-2"><%= opt.notes %></p>
          <%  } %>
          <a class="btn btn-primary btn-block" href="/<%= items[0].slug %>">Comprar</a>
        </div>
      </div>
    </div>
  </section>
  <% } %>
<% } %>
